html {
    font-family: 'roboto', 'Montserrat', sans-serif;
}
    
*{
    margin: 0;
    padding: 0;
}


/* Index */

.borderIndex{
    
}

.logo a{
    padding: 40px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.containerIndex{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0px 40px;
}

.categ{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content:center;
    align-items: end;
    width: 100%;
    margin: 0px 0px;
    border: 2px red solid;
    }

.imagenHombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-image:  url('../Img/hombre.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 60vh;
    border: 2px yellow solid;
}

.imagenMujer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-image: url(../Img/mujer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 60vh;
}

.imagenHombre h1{
    width: 100%;
    font-size: 30px;
    margin-top: 0px;   
    padding: 0px 0px;
    color: #020303;
    font-weight: bold;
    text-decoration: none;
}

.imagenMujer h1{
margin-top: 0px;    
font-size: 30px;
text-align: center;
width: 100%;
}




/* inicio */

/* section A */

.sectionA{
    background-color: rgb(246, 243, 239);
    text-align: center;
    width: 100%;
}

.gridOutfit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    width: 100%;

}

@media(max-width:900px){
    .gridOutfit{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

.sectionA .pe{
    margin: 10px 20px;
    color: #0b0710;
    padding-top: 30px;} 



.imagenOutfit{
    width: 100%;
}

.gridOutfit p{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

/* section B */

.sectionB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Img/portada2.jpg);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 107vh;
    border: 2px solid red;
}

.sectionB h2{
    color: rgb(255, 255, 255);
    margin-top: 400px;
    align-items: end;
    font-size: 40px;
    font-weight: bold;
    margin: px;
}

.sectionB p{
    color: rgb(7, 7, 7);
    background-color: white;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    
}

.sectionB p:hover{
    background-color: rgb(98, 94, 107);
}

/* section c */

.sectionC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 244, 215);
    border-top: 1px rgb(96, 89, 89) solid;
    padding: 100px 0px;
}

.sectionC h1{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.sectionC p{
    text-align: center;
    margin-top: 30px;
}

.formC{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.inputC{
    background-color: #f9fbfb;
    width: 400px;
    margin-top: 20px;
    padding: 10px 40px;
    border: 1px solid rgb(150, 145, 145);
    border-radius: 10px;
}

.buttonC{
    color: #faf9fb;
    background-color: #020505;
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 40px;
    border: none;
    font-weight:bold ;
}
/* inicio nav */

/* inicio footer */

.categoriasFooter{
    display: flex;
    flex-wrap: nowrap;    
    background-color:rgb(248, 248, 245);
    margin: 0px 0px;
    border-top: 1px #716a6a solid;
    width: 100%;
}

.ayudaFooter{
    margin: 40px 0px;
    width: 100%;
}

.ayudaFooter h4{
    margin-bottom: 30px;
    color: #020505;
    font-weight: bold;
    font-size: 15px;
}

.parrafoFooter{
    color: rgb(47, 49, 49);
    font-size: 13px;
}

.mediosDePago{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.logoPse{
    width: 50px;
}

.tarjetas{
    width: 200px;
}

.appStore{
    width: 100px;
    margin: 0px 10px 20px 10px;
}

/* footer final */

.dir{
    background-color: #020303;
    color: aliceblue;
    padding: 15px 0px;
    text-align: center;
}

/* tienda main*/

.borderTienda{
    margin: 10px 10px;
}

.gridPadre{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.productoCasillas{
    text-align: center;

}

.productoImagen{
    width: 100%;
    border-radius: 2px;
}

.productoCasillas h2{
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.productoParrafo{
    font-size: 14px;
    margin-bottom: 5px;
}

.productoComprar{
    background-color: rgb(67, 37, 187);
    color: aliceblue;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.productoComprar:hover{
    background-color: rgb(120, 120, 218);
}

.ilass {
color: rgb(6, 6, 5);
font-size: 20px;
font-weight: bold;
text-align: center;
justify-content: center;
align-items: center;
margin-right: 50px;
}

/* paginas productos */

.gridFlex{
    display: flex;
    width: 100%;
    margin: 10px 0px
}

.seccionFotos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width:100% ;
}

.seccionFotosb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.imagenCamiseta{
    width:100% ;
}

.seccionPrecio{
    width: 100%;
    padding: 0px 50px;
}

.seccionPrecio h1{
    font-size: 0.8em;
    color: #616060;
    margin: 0px 0px 0px 0px;
}

.seccionPrecio p{
    font-size: 1.2em;
    font-weight: bold;
    color: #020303;
    margin: 0px 0px 0px 0px;
}

.seccionPrecio .cop {
    margin-top: 30px;
    color: rgb(2, 1, 1);
}

.tallas{
    margin: 20px 0px;
}


.tallas p{
    display: inline;
    color: rgb(69, 72, 72);
    border: 1px rgb(193, 191, 191) solid;
    padding: 10px 14px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}
.tallas p:hover{
    background-color: #c8c1c1;
}

/* button cesta */

.buttonComprar{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center center;
}
.buttonComprar button{
    background-color: rgb(66, 238, 172);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px 5px;  
    color: #f9fbfb;
    font-size: 20px;  
}
