.nav-link .active {
  color: $color-blanco;
}


.nav-link {
  color: $color-negro;
  font-family: "roboto", "Montserrat", sans-serif;
}

.ilass {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-right: 100px;
}

.resalte:hover{
  border-bottom: 2px black solid;
  background-color: rgb(235, 245, 235);
}