.nav-link .active {
    color: rgb(246, 246, 243);
  }

  
  .nav-link{
    color: rgb(0, 0, 0);
    font-family: "roboto", "Montserrat", sans-serif;
  }

  .ilass{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-right: 100px;
  }